__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.spyderproject
.spyproject
.ropeproject
.coverage
.python-version
.ipython/
*.sqlite
.DS_Store
spark-warehouse/
metastore_db/
*.log
*.out
.ipynb_checkpoints/
*.ipynb
.idea/
.vscode/
*.swp
*.swo
